<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>输入验证</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="angular.min.js"></script>
</head>
<body>
<script>
    var app = angular.module('myApp', []);
</script>
<div data-ng-app="myApp">
    <form data-ng-controller="validateCtrl" name="myForm" novalidate>
        <p>
            <span>用户名：</span>
            <input type="text" name="user" ng-model="user" required>
            <i style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                <span ng-show="myForm.user.$error.required">用户名是必须的。</span>
            </i>
        </p>

        <p>
            <span>邮件：</span>
            <input type="email" name="email" ng-model="email" required>
            <i style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
                <span ng-show="myForm.email.$error.email">非法的邮箱地址。</span>
            </i>
        </p>

        <p>
            <input type="submit"
                   ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">
        </p>
    </form>
    <script>
        app.controller('validateCtrl', function ($scope) {
            $scope.user = 'John Doe';
            $scope.email = 'john.doe@gmail.com';
        })
    </script>

</div>

</body>
</html>